@import './../../theme/vars';

.item-product {
  position: relative;
  display: block;
  padding: 8px;
  background-color: $bg-color;
  margin: 16px auto;
  cursor: pointer;
  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__excerpt {
    max-height: 70px;
    overflow: hidden;
  }
  &__footer {
    margin-top: 16px;
    p {
      font-family: $font-destacado;
      font-size: 20px;
      color: $primary-color;
      text-align: right;
    }
  }
  @media #{$desktop} {
    padding: 16px;
  }
}
